* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Arial";
}

#wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#messages {
	flex: 1;
	padding: 1rem;

	display: flex;
	flex-direction: column;

	width: 60%;
	margin: auto;

	overflow-y: scroll;
}

#messages > * {
	border-radius: 1rem;
	padding: 1rem;
	background-color: #0cf;
	margin-bottom: 0.5rem;
}

#messages .left {
	align-self: flex-start;
}

#messages .right {
	align-self: flex-end;
}

#form {
	padding: 1rem;
	display: flex;
}

#form input {
	padding: 0.5rem;
	border: 1px solid black;
	outline: 0;
}

#form input[type="text"] {
	background-color: #0cf;
	margin-right: 1rem;
	flex: 1;
}

#form input[type="submit"] {
	background-color: #0cf;
}
